html, body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}


.App {
  background-color: black;
  color: white;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

ul {
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 40px;
  padding: 10px;
}

#InitialSplash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerExpanded {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.headerExpanded * {
  width: 25px;
  height: 25px;
}

#InitialSplash .headshot-container {
  height: 50vh;
  width: 100%;
}

#InitialSplash .headshot {
  width: 80vw;
}

#InitialSplash .splash-info {
  height: 50vh;
  width: 100%;
}

.splash-info h3 {
  position: relative;
}

.splash-info h3 span {
  z-index: 2;
  text-shadow: 2px 2px #000;
  position: relative;
}

.umbrellaIcon {
  position: absolute;
  bottom: 00px;
  right: 15px;
  z-index: 1;
  width: 60px;
  height: 60px;
}

.contact-link-list {
  display: flex;
  justify-content: space-evenly;
}

.contact-link-list svg {
  width: 25px;
  height: 25px;
  fill: white;
}

.about-me {

}

.about-me p {
  text-align: justify;
}