/* html, body {
  height: 100vh;
  width: 100vw;
} */


.App {
  background-color: black;
  color: white;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ul {
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
  width: 100%;
  height: 40px;
  padding: 10px;
}

#InitialSplash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#InitialSplash .headshot-container {
  height: 50vh;
  width: 100%;
}

#InitialSplash .headshot {
  width: 80vw;
}

#InitialSplash .splash-info {
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

.contact-link-list {
  display: flex;
  justify-content: space-evenly;
}